body{
  margin: 0px;
  padding : 0px;
}
.bg-info {
  background-color: #D9EFF5;
}

.bg-primary {
  background-color: #77ABD6;
}

.queueName {
  background:;
}

div[class*="title col-md-"] {
  padding: 3px 0px 3px 0px;
}

div[class*="col-md-"] {
  padding: 1px 0px 1px 0px;
}

.ok {
  background-color: #90EE90;
}

.nok {
  background-color: #FF0000;
}

.warning {
  background-color: Orange;
}

.agents {
  margin-top: 5px;
}

.title {
  font-size: 18px;
}

.bold {
  font-weight: bold;
}

.link-connected-false {
  color : gray;
  background-color: #B8C6CA;
}

.link-connected-true {
    color : white;
}

.agentsColumn {
  order-right: 1px blue solid;
}
.AgentLoggedOut {
  font-weight: lighter;
  color: gray;
}
.AgentReady {
  font-weight: normal;
  color: green;
}
.AgentOnPause {
  color : red;
}
.AgentOnCall {
  color : maroon;
}
.AgentOnWrapup {
  color : fuchsia;
}
.AgentOnAcdCall {
  font-weight: bold; 
  color : navy;
}
.Linkopened {
  color : green;
}
.Linkclosed {
  color : red;
}