@(user: XucUser, lang: Lang)(implicit request: RequestHeader)
@helper.javascriptRouter("jsRoutes")(
  routes.javascript.Agent.loginError
)

@import play.i18n._
@import _root_.controllers.xuc.{routes => xucRoutes}

@frame(user.ctiUsername, user.ctiPassword, "XiVO Unified Communication", lang) {
<body>
    <div class="navbar navbar-fixed-top navbar-inverse navbar-custom">
      <div class="container">
        @navbar(user,"XiVO",lang)
      </div>
    </div>
    <div class="container">
        <div class="row show-grid">
            @panel(12,Html(Messages.get(lang,"agent.callDetails")),"{{show}}","CallController") {
                <form class="form-horizontal" role="form">
                <div class="form-group" ng-repeat='field in fields' >
                    <label class="col-xs-2 control-label">{{field.name}}</label>
                    <div class="col-xs-10">
                        <input class="form-control" placeholder="Email" value="{{field.value}}" disabled>
                    </div>
                </div>
                </form>
            }
        </div>
        <div class="row show-grid">
           @phonepanel(lang)
           @queuepanel(lang)
           @agentpanel(lang)
        </div>
        <div class="row show-grid">
            <div id="directoryresult" class="span8">
            </div>
            <div class="span4">
            </div>
        </div>
    </div>
    <div id="footer" class="span12">
        <p class="pull-right">
            <img src="@routes.Assets.at("images/Xivo.png")" height="15" width="33"> by <a href="http://avencall.com">Avencall</a>
            .&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
    </div>
    <script>
     $(function(){
         Cti.WebSocket.init("@xucRoutes.WebSocketApp.ctiChannel(user.ctiUsername, user.phoneNumber.getOrElse(0), user.ctiPassword).webSocketURL()","@user.ctiUsername",@user.phoneNumber.getOrElse(0));
     });
    </script>
    <script src="@routes.Assets.at("javascripts/services/xuc_services.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/pages/agent/agent.js")" type="text/javascript"></script>
</body>
} 