@* navbar Template File *@
@(user : XucUser, brand : String,lang: Lang)

@import play.i18n._

<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
  </button>
  <a href="#" class="navbar-brand">@brand</a>
</div>
<div class="collapse navbar-collapse">
  <div class="navbar-form navbar-left" ng-controller='AgentButtonController'>
    <button  ng-click="toggleLogin()" class="btn {{loginButton.color}}" id="agentLoginButton">
        <i class="glyphicon glyphicon-headphones glyphicon-white"></i>&nbsp;
        <span id="agentLoginButtonLabel">{{loginButton.label}}</span>
    </button>
    <button ng-click="togglePause()" class="btn btn-success {{pauseButton.show}}" id="agentPauseButton">
        <i class="glyphicon glyphicon-pause glyphicon-white"></i>&nbsp;
        <span id="agentPauseButtonLabel">{{pauseButton.label}}</span>
    </button>
  </div>  
  <ul class="nav navbar-nav"></ul>
  <div class="nav navbar-nav navbar-right" ng-controller='ctiLinkController'>
     <p class="navbar-text agentInfo">@user.ctiUsername (@user.phoneNumber.getOrElse(0))</p>
     <p class="navbar-text"><a class="text-right" href="/agent"><span class="glyphicon glyphicon-off"> @Messages.get(lang,"xivo.disconnect")</span></a></p>
     <p class="navbar-text"></p>
  </div>
</div>
