@* phonepanel Template File *@
@(lang: Lang)
@panel(4,phoneHeader(),"","PhoneController") {
    <div class="input-group">
        <div>
            <button class="btn btn-success" type="button" id="xuc_dial_btn" title="dial" ng-click="dial()">
                <span class="glyphicon glyphicon-earphone"></span>
            </button>
            <button class="btn btn-success" type="button" id="xuc_answer_btn" title="answer" ng-click="answer()">
                <span class="glyphicon glyphicon-arrow-up"></span>
            </button>
            <button class="btn btn-warning" type="button" id="xuc_hold_btn" title="hold" ng-click="hold()">
                <span class="glyphicon glyphicon-pause"></span>
            </button>
            <button class="btn btn-danger" type="button" id="xuc_hangup_btn" title="hangup" ng-click="hangup()">
                <span class="glyphicon glyphicon-arrow-down"></span>
            </button>
        </div>
        <div>
            <input type="text" class="form-control" id="xuc_destination" ng-model="destination">
        </div>
        <div>
            <button class="btn btn-info" type="button" id="xuc_attended_transfer_btn" title="attended transfer" ng-click="attendedTransfer()">
                <span class="glyphicon glyphicon-share" ></span>
            </button>
            <button class="btn btn-info" type="button" id="xuc_complete_transfer_btn" title="complete transfer" ng-click="completeTransfer()">
                <span class="glyphicon glyphicon-check" ></span>
            </button>
            <button class="btn btn-danger" type="button" id="xuc_cancel_transfer_btn"  title="cancel transfer" ng-click="cancelTransfer()">
                <span class="glyphicon glyphicon-edit"></span>
            </button>
            <button class="btn btn-primary" type="button" id="xuc_conference_btn"  title="conference" ng-click="conference()">
                <span class="glyphicon glyphicon-fullscreen"></span>
            </button>
        </div>
      </div>
}
