@* agentHeader Template File *@
<i class="glyphicon glyphicon-phone-alt glyphicon-white"></i>&nbsp;
       <span class="label label-info">{{phoneStatus.label}}</span>
       <span class="label label-default">{{phoneStatus.moment}}</span>