@* queuepanel Template File *@
@(lang: Lang)
@import play.i18n._

@panel(4,Html(Messages.get(lang,"agent.queues")),"","QueueController") {
 <table class="table table-condensed">
 <tr ng-repeat="queue in queues | orderBy:'displayName' | filter:agentqueues" >
    <td>{{queue.displayName}}</td>
    <td>{{queue.WaitingCalls}}</td>
    <td>{{queue.LongestWaitTime | queueTime}}</td>
 </tr>
 </table>
}