@*queues Template File *@
@(lang: Lang)
@import play.i18n._

<div class="panel panel-primary" ng-controller="ccQueuesController">
    <!-- Default panel contents -->
    <div class="panel-heading title link-connected-{{connected}}">FILES D'ATTENTE</div>
    <table class="table  table-bordered table-condensed table-striped">
        <thead class="title queuehead">
        <th class="queuehead">
            <button type="button" class="btn btn-default" ng-click="filterAllQueues()">
                <span class="glyphicon glyphicon-ok"></span> /
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        <th></th>
        <th class="queuehead">
            <div class="row">Total</div>
            <div class="row" ng-if="totaux.TotalNumberCallsEntered != null">&nbsp;{{totaux.TotalNumberCallsEntered}}&nbsp;</div>
            <div class="row" ng-if="totaux.TotalNumberCallsEntered == null">&nbsp;</div>
        </th>
        <th class="queuehead">
            <div class="row">Rep.</div>
            <div class="row" ng-if="totaux.TotalNumberCallsAnswered != null">&nbsp;{{totaux.TotalNumberCallsAnswered}}&nbsp;</div>
            <div class="row" ng-if="totaux.TotalNumberCallsAnswered == null">&nbsp;</div>
        </th>
        <th class="queuehead">
            <div class="row">%Rep &lt;15s</div>
            <div class="row">&nbsp;</div>
        </th>
        <th class="queuehead">
            <div class="row">Aband.</div>
            <div class="row" ng-if="totaux.TotalNumberCallsAbandonned != null">&nbsp;{{totaux.TotalNumberCallsAbandonned}}&nbsp;</div>
            <div class="row" ng-if="totaux.TotalNumberCallsAbandonned == null">&nbsp;</div>
        </th>
        <th class="queuehead">
            <div class="row">%Aband &gt;15s</div>
            <div class="row">&nbsp;</div>
        </th>
        <th class="queuehead">
            <div class="row">En Attente</div>
            <div class="row">&nbsp;{{totaux.WaitingCalls}}&nbsp;</div>
        </th>
        <th class="queuehead">
            <div class="row">Tps. Max</div>
            <div class="row">&nbsp;</div>
        </th>
        <th class="queuehead">
            <div class="row">EWT</div>
            <div class="row">&nbsp;</div>
        </th>
        <th class="queuehead">
            <div class="row">Agts dispo.</div>
            <div class="row">&nbsp;</div>
        </th>
        <th class="queuehead">
            <div class="row">Agts conv.</div>
            <div class="row">&nbsp;</div>
        </th>
        </thead>
        <tbody>
        <tr ng-repeat="queue in queues | orderBy:'displayName'">
            <td><input type="checkbox"  ng-click="filterQueue(queue.id, queue.displayName)" ng-checked="isChecked(queue.id)"/></td>
            <td>{{queue.displayName}}</td>
            <td>{{queue.TotalNumberCallsEntered}}</td>
            <td>{{queue.TotalNumberCallsAnswered}}</td>
            <td>{{queue.PercentageAnsweredBefore15 | number:1}}</td>
            <td>{{queue.TotalNumberCallsAbandonned}}</td>
            <td>{{queue.PercentageAbandonnedAfter15 | number:1}}</td>
            <td>{{queue.WaitingCalls}}</td>
            <td>{{queue.LongestWaitTime | queueTime}}</td>
            <td>{{queue.EWT | queueTime}}</td>
            <td>{{queue.AvailableAgents}}</td>
            <td>{{queue.TalkingAgents}}</td>
        </tr>
        </tbody>
    </table>

</div>
