@(title:String, lang: Lang)(implicit request: RequestHeader)
@helper.javascriptRouter("jsRoutes")(
routes.javascript.Pratix.loginError
)

@import play.i18n._
@import _root_.controllers.xuc.{routes => xucRoutes}

@frameSupervision(title, lang) {
<body>
    <div class="container-fluid text-center" >
        @agents(lang)
        @queues(lang)
    </div>
    <div class="panel-footer" ng-controller="ctiLinkController">
        <span class="title"><i class="glyphicon glyphicon-leaf Link{{status}}"></i>&nbsp;{{clock}}</span>
    </div>
    <script type="text/javascript">
        initCti("super02");
    </script>

</body>


}