@(user: XucUser, lang: Lang)(implicit request: RequestHeader)
@helper.javascriptRouter("jsRoutes")(
  routes.javascript.Pratix.loginError
)

@import play.i18n._
@import _root_.controllers.xuc.{routes => xucRoutes}

@frame(user.ctiUsername, user.ctiPassword, "XiVO Unified Communication", lang) {
<body>
    <div class="navbar navbar-fixed-top navbar-inverse navbar-custom">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">XuC</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav"></ul>
            @phonebar(lang)
          <div class="nav navbar-nav navbar-right">
             <p class="navbar-text">@{user.ctiUsername}</p>
             <p class="navbar-text"><a class="text-right" href="/"><span class="glyphicon glyphicon-off"></span></a></p>
             <p class="navbar-text"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
        <div class="row show-grid">
            <div class="span12"><hr/></div>
        </div>
        <div class="row show-grid">
            <div id="directoryresult" class="span8">
            </div>
            <div class="span4">
            </div>
        </div>
    </div>
    <div id="footer" class="span12">
        <p class="pull-right">
            <img src="@routes.Assets.at("images/Xivo.png")" height="15" width="33"> by <a href="http://avencall.com">Avencall</a>
            .&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
    </div>
    <script>
     $(function(){
         Cti.WebSocket.init("@xucRoutes.WebSocketApp.ctiChannel(user.ctiUsername, 0, user.ctiPassword).webSocketURL()","@user.ctiUsername",0);
     });
    </script>
    <script src="@routes.Assets.at("javascripts/pages/xuc.js")" type="text/javascript"></script>
</body>
} 