@(loginForm: Form[XucUser])(lang: Lang)

@import play.i18n._
@import _root_.xuc._

@loginmain("Web Xivo Client") {
     <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                @views.html.xuc.loginpanel(loginForm,routes.Pratix.login,lang,routes.Assets.at("images/avencallbox.jpg").toString,false)
            </div>
        </div>
    </div>
    <div id="footer">
        <p class="pull-right">
            <img src="@routes.Assets.at("images/Xivo.png")" height="15" width="33"> by <a href="http://avencall.com">Avencall</a>
            .&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
    </div>

}
