@* phonebar Template File *@
@(lang: Lang)
@import play.i18n._

<div class="navbar-form navbar-left" role="search" ng-controller="PhoneController">
    <button type="submit" class="btn btn-default" id="xuc_search">
      <span class="glyphicon glyphicon-search"></span>
    </button>
    <div class="form-group">
      <input class="form-control" type="text" placeholder='@Messages.get(lang,"xivo.dialbox")' id="numberTodial" ng-model="destination">
    </div>
    <span>&nbsp;</span>
    <button class="btn btn-success" type="button" id="xuc_answer_btn" title="answer" ng-click="answer()">
        <span class="glyphicon glyphicon-arrow-up"></span>
    </button>
    <button class="btn btn-warning" type="button" id="xuc_hold_btn" title="hold" ng-click="hold()">
        <span class="glyphicon glyphicon-pause" ></span>
    </button>
    <button class="btn btn-danger" type="button" id="xuc_hangup_btn" title="hangup" ng-click="hangup()">
        <span class="glyphicon glyphicon-arrow-down" ></span>
    </button>
    <span>&nbsp;</span>
    <button class="btn btn-info" type="button" id="xuc_attended_transfer_btn" title="attended transfer" ng-click="attendedTransfer()">
        <span class="glyphicon glyphicon-share" ></span>
    </button>
    <button class="btn btn-info" type="button" id="xuc_complete_transfer_btn" title="complete transfer" ng-click="completeTransfer()">
        <span class="glyphicon glyphicon-check"></span>
    </button>
    <button class="btn btn-danger" type="button" id="xuc_cancel_transfer_btn" title="cancel transfer" ng-click="cancelTransfer()">
        <span class="glyphicon glyphicon-edit"></span>
    </button>
    <span>&nbsp;</span>
    <button class="btn btn-primary" type="button" id="xuc_conference_btn" title="conference" ng-click="conference()">
        <span class="glyphicon glyphicon-fullscreen"></span>
    </button>
</div>