<div ng-controller="agentActionController" class="dropdown dropdown-menu-right">
<a data-toggle="dropdown" href="#">
    <i class="glyphicon glyphicon-wrench glyph-white AgentActionIcon"></i>
</a>
    <ul class="dropdown-menu AgentActionMenu" role="menu" aria-labelledby="dLabel">
        <li ng-show="canLogIn(agent.id)" ng-click="login(agent.id)" role="presentation" class="AgentMenu">
            <i class="glyphicon glyphicon-log-in glyphmenu"></i>@Messages("ccmanager.Login")</li>
        <li ng-show="canLogOut(agent.id)" ng-click="logout(agent.id)" role="presentation" class="AgentMenu">
            <i class="glyphicon glyphicon-log-out glyphmenu"></i>@Messages("ccmanager.Logout")</li>
        <li ng-show="canPause(agent.id)" ng-click="pause(agent.id)" role="presentation" class="AgentMenu">
            <i class="glyphicon glyphicon-pause glyphmenu"></i>@Messages("ccmanager.Pause")</li>
        <li ng-show="canUnPause(agent.id)" ng-click="unpause(agent.id)"role="presentation" class="AgentMenu">
            <i class="glyphicon glyphicon-play glyphmenu"></i>@Messages("ccmanager.UnPause")</li>
        <li ng-show="canListen(agent.id)" ng-click="listen(agent.id)"role="presentation" class="AgentMenu">
            <i class="glyphicon glyphicon-bullhorn glyphmenu"></i>@Messages("ccmanager.Listen")</li>
    </ul>
</div>
