@(title:String, user: XucUser, lang: Lang)(implicit request: RequestHeader)
@helper.javascriptRouter("jsRoutes")(
routes.javascript.Pratix.loginError
)

@import play.i18n._
@import _root_.controllers.xuc.{routes => xucRoutes}

@mainmanager(title, lang) {
    <div class="container-fluid">
        @queueSelection()
        <div class="panel-body table-responsive" ng-controller="ccQueuesController">
        @zoom()
        @changeView()
        <table ng-repeat="queue in queues | orderBy:'displayName'" class="table table-condensed">
            <tr>
                <td class="queueTd">
                    @queueData()
                </td>
                <td ng-if="!groupView">
                    @queueAgentGroups()
                </td>
                <td ng-if="groupView">
                    @queueGroupGroups()
                </td>
                 <td class="queueTd">
                </td>
            </tr>
           </table>
    </div>
    <span ng-controller="ccAgentsController"></span>
    @footer()
</div>
<script type="text/javascript">
        initCti("@user.ctiUsername","@user.ctiPassword");
</script>
}