<div class="menuView btn-group">
    <button type="button" ng-class="{active : !groupView}" class="btn btn-default btn-xs" ng-click="setAgentView()">
        @Messages("ccmanager.agentView")&nbsp;<span class="glyphicon glyphicon-user"></span>
    </button>
    <button type="button" ng-class="{active : groupView}" class="btn btn-default btn-xs" ng-click="setGroupView()">
        @Messages("ccmanager.groupView")&nbsp;<span class="glyphicon glyphicon-stats"></span>
    </button>
</div>
