<div class="menuZoom btn-group">
    <button type="button" class="btn btn-default btn-xs" ng-click="ratioAffichage = ratioAffichage - 0.1">
        Zoom &nbsp;<span class="glyphicon glyphicon-zoom-out"></span>
    </button>
    <button type="button" class="btn btn-default btn-xs" ng-click="ratioAffichage = 1">
        Zoom 1&nbsp;<span class="glyphicon glyphicon-unchecked"></span>
    </button>
    <button type="button" class="btn btn-default btn-xs" ng-click="ratioAffichage = ratioAffichage + 0.1">
        Zoom &nbsp;<span class="glyphicon glyphicon-zoom-in"></span>
    </button>
</div>
